
body{
    background-color: #eefaa8;
    font-family: "Rajdhani", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: 25px;
}
header{
    background-color: #649ea7;
    text-align: center;
    border: 1px #000000 solid;
}
img{
    border: 2px #000000 solid;
    border-radius: 20px;
    
}
tr,td{
    border: 2px #000000 solid;

}

th{
    color: #8fbfb9;
    font-weight: bold;
}
