body{
    background-image: url(./img6.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 25px;
}
header{
    background-image: url(./img7.webp);
    text-align: center;
    font-size: 100px;
}

span:hover{
    background-color: #725436;
    color: #c1c2bc

}
#div1{
    
    padding: 2em;
    background-color: #c1c2bc;
    margin: 30px;
    #foto1{
        margin-right: 20px;
        width: 200px;
        height: 180px;
        float: left;
    }

}

#div2{
    padding: 2em;
    background-color: #c1c2bc;
    margin: 30px;
    iframe{
        margin-right: 20px;
        width: 250px;
        height: 220px;
        float: left;
    }
}

#divisao{
    background-color:#c1c2bc;
    padding: 2em;
    margin: 30px;
}
#imagem3{
    float: right;
    width: 200px;
    height: 170px;
}
#imagem4{
    float: left;
    width: 200px;
    height: 170px;
}
#imagem5{
    float: right;
    width: 200px;
    height: 170px;
}
#imagem6{
    float: left;
    width: 200px;
    height: 170px;
}

.button1{
    
    border-radius: 5px; 
}

.button2{
    border-radius: 5px;
}
button:hover{
    background-color: #314a20;
    color: white;
}

.letra{
    font-size: 70%;
    color: #725436;
}

footer{
    background-color: #8c8676;
}