body{
    font-size: 1rem ;

}

h1{
    background-color: #6590d1;
    text-shadow: 3px 3px 3px #48789f;
}
p{
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    background-color: #b3e9f3;
    
}

img{
    height: 500px;
    width: 300px;
}