header{
    display: grid;
    grid-template-columns: repeat(2 fr1);
    grid-template-columns: auto;
    background: -webkit-linear-gradient(right, #ffffff, #000000);
    background: -moz-linear-gradient(right, #ffffff, #000000);
    background: -ms-linear-gradient(right, #ffffff, #000000);
    background: -o-linear-gradient(right, #ffffff, #000000);
    background: linear-gradient(to left, #ffffff, #000000);
    height: 160px;
}
#zapp{
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 50%;
    width: 6rem;
    height: 5rem;
}

.box{
    background-color: #157faf;
    height: 300px;
    width: 300px;
    transition-property: background-color, border-radius;
    transition-duration: 5s;
}
.box:hover{
    border-radius: 50%;
    background-color: red;
}