body{
    background-color: black;
    font-size: 1.2rem;
    font-family: arial;
}
ul, li, p{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: greenyellow;
}

.cabeca{
    display: flex;
    flex-wrap: wrap;/*quando a tela estiver muito pequena o wrap ira trazer a nav para baixo e não para o canto*/
    justify-content: space-between;/*posição das colunas dividas / o space between coloca eles no cantos da tela (ENTRE ELES)*/
    /* justify-content: space-around; feito para deixar o espaço nas bordas e deixa as colunas no meio */
    padding: 2%;
    align-items: center;
    background-color: darkgreen;
}

.menu{
  display: flex;
  margin-left: 10%;

}